.border{
    border: 2px solid black;
    border-radius: 8px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: #121212;
    color: white;
}
.invert{
    filter: invert();
}
.bg-gray{
    background-color: #242424;
}
.gray{
    color: gray;
    font-size: medium;
}
.gap{
    gap:15px;
}
.align-right{
    right: 0px;
    display: absolute;
}